<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8A4uL9SwQW0HXJXI-z-lxy7RF6r_qA-E</string>
	<key>GCM_SENDER_ID</key>
	<string>893764526489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test1.lesson2.WorkoutTest</string>
	<key>PROJECT_ID</key>
	<string>workouttest-17b1b</string>
	<key>STORAGE_BUCKET</key>
	<string>workouttest-17b1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893764526489:ios:6681cd17741210cdc07308</string>
</dict>
</plist>